<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.whmsft.vechten" version="0.0.8" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>vech10</name>
    <description>Hark! Stand forth and shield the Noble king.</description>
    <author email="whmsft@outlook.com" href="https://github.com/whmsft/vechten">
        whmsft
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
